<div class="row mt-4">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <p class="text-center">Liên kết đã hết hạn, vui lòng tạo yêu cầu mới!!!</p>
    </div>
    <div class="col-lg-4"></div>
</div>