<div class="row mt-4">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="form-group" style="justify-items: center;">
            <a href="/login">
                <button class="btn btn-primary mt-3 mb-3">
                    Quay lại
                </button>
            </a>
        </div>
        {{#if success}}
        <p style="color: green" class="text-center">Vui lòng kiểm tra email và làm theo hướng dẫn để đặt lại mật
            khẩu!!!</p>
        {{else}}
        <div class=" border-cus" style="padding: 10px">
            <div style="text-align: center;">
                <img src="img/logo.png" alt="">
                <p>Vui lòng điền email sinh viên</p>
            </div>
            <form method="post" action="/forgotPassword">
                <div class="form-group mt-3 mb-3">
                    <label for="email" class="mb-2">Email</label>
                    <input id="email" type="email" name="email" class="form-control" placeholder="Email">
                </div>
                {{#if tb}}
                <p style="color: red" class="text-center">{{tb}}</p>
                {{/if}}
                <div style="display: flex; justify-content: center;">
                    <button type="submit" class="btn btn-primary mt-3 mb-3" style="width: 100%; height: 50px">Xác
                        nhận</button>
                </div>
            </form>
        </div>
        {{/if}}
    </div>
    <div class="col-lg-4"></div>
</div>