<div class="row mt-4">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <a href="/addCourse">
            <button class="btn btn-primary mt-3 mb-3">Quay Lại</button>
        </a>
        <h1 style="text-align: center;">Chỉnh sửa môn học</h1>
    </div>
    <div class="col-lg-4"></div>
</div>

<div class="row mt-4">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 border-cus">
        <form method="post" action="/addCourse/{{course._id}}?_method=PATCH">
            <div class="form-group mt-3">
                <label for="exampleInputEmail1" class="mb-2">Tên môn học</label>
                <input type="text" class="form-control" name="courseName" required value="{{course.courseName}}">
            </div>
            <div class="form-group mt-3">
                <label for="exampleInputEmail1" class="mb-2">Mã môn học</label>
                <input type="text" class="form-control" name="courseId" value="{{course.courseId}}" required>
            </div>
            <div class="form-group mt-3">
                <label class="mb-2">Khoa</label>
                <select id="role-user" class="form-select" aria-label="Default select example" name="courseFac"
                    required>
                    <option value="Điện Điện-Tử" {{#if (checkRoleFix course.courseFac "Điện Điện-Tử" )}}selected{{/if}}>
                        Điện Điện-Tử
                    </option>
                    <option value="Kỹ Thuật Xây Dựng" {{#if (checkRoleFix course.courseFac "Kỹ Thuật Xây Dựng"
                        )}}selected{{/if}}>Kỹ Thuật Xây Dựng
                    </option>
                    <option value="Cơ Khí" {{#if (checkRoleFix course.courseFac "Cơ Khí" )}}selected{{/if}}>Cơ Khí
                    </option>
                    <option value="Kỹ Thuật Hóa Học" {{#if (checkRoleFix course.courseFac "Kỹ Thuật Hóa Học"
                        )}}selected{{/if}}>Kỹ Thuật Hóa Học
                    </option>
                    <option value="Khoa Học và Kỹ Thuật Máy Tính" {{#if (checkRoleFix
                        course.courseFac "Khoa Học và Kỹ Thuật Máy Tính" )}}selected{{/if}}>Khoa Học và Kỹ Thuật Máy
                        Tính
                    </option>
                    <option value="Công Nghệ Vật Liệu" {{#if (checkRoleFix course.courseFac "Công Nghệ Vật Liệu"
                        )}}selected{{/if}}>Công Nghệ Vật Liệu
                    </option>
                    <option value="Khoa Học Ứng Dụng" {{#if (checkRoleFix course.courseFac "Khoa Học Ứng Dụng"
                        )}}selected{{/if}}>Khoa Học Ứng Dụng
                    </option>
                    <option value="Kỹ Thuật Giao Thông" {{#if (checkRoleFix course.courseFac "Kỹ Thuật Giao Thông"
                        )}}selected{{/if}}>Kỹ Thuật Giao Thông
                    </option>
                    <option value="Quản Lý Công Nghiệp" {{#if (checkRoleFix course.courseFac "Quản Lý Công Nghiệp"
                        )}}selected{{/if}}>Quản Lý Công Nghiệp
                    </option>
                    <option value="Kỹ Thuật Địa Chất và Dầu Khí" {{#if (checkRoleFix
                        course.courseFac "Kỹ Thuật Địa Chất và Dầu Khí" )}}selected{{/if}}>Kỹ Thuật Địa Chất và Dầu Khí
                    </option>
                    <option value="Môi Trường và Tài Nguyên" {{#if (checkRoleFix
                        course.courseFac "Môi Trường và Tài Nguyên" )}}selected{{/if}}>Môi Trường và Tài Nguyên
                    </option>
                    <option value="Trung Tâm Bảo Dưỡng Công Nghiệp" {{#if (checkRoleFix
                        course.courseFac "Trung Tâm Bảo Dưỡng Công Nghiệp" )}}selected{{/if}}>Trung Tâm Bảo Dưỡng Công
                        Nghiệp
                    </option>
                </select>
            </div>
            <div style="display: flex; justify-content: center;">
                <button id="btn" type="submit" class="btn btn-primary mt-3 mb-3" style="width: 100%; height: 50px">
                    Thay đổi
                </button>
            </div>
        </form>
    </div>
    <div class="col-lg-4"></div>
</div>